@import "var";

/*region CATÁLOGO ***************************/
.catalog__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: $spacing__medium;
    margin-bottom: $spacing__medium;

    .catalog__headingTitle {
        color: $color__text--primary;
        margin-bottom: 0;
    }

    .catalog__newProductButton {
        align-items: center;
        height: fit-content;
        font-size: $font__size--smaller !important;

        margin-top: $spacing__small;
    }
}



.catalog__productTable {
    width: 100%;

    .catalog__productTableHead {
        background: $color__background--secondary;

        .catalog__productTableHeader {
            .catalog__productTableHeading {
                padding-top: $spacing__small;
                padding-bottom: $spacing__small;
                color: $color__text--primary;

                &:first-child {
                    padding-left: $spacing__small;
                }
            }
        }
    }

    .catalog__productTableBody {
        .catalog__productTableItem {
            &:nth-child(even) {
                background: $color__background--secondary;
            }

            .catalog__productTableValue {
                color: $color__text--secondary;

                &:first-child {
                    padding-left: $spacing__small;
                }
            }
        }
    }
}
/*endregion CATÁLOGO ************************/
