@import "var";

/*region CATÁLOGO ***************************/
.catalog__heading {
    color: $color__text--primary;
}

.catalog__newProductButton {
    font-size: $font__size--smaller !important;
}

.catalog__productTable {
    width: 100%;

    .catalog__productTableHead {
        .catalog__productTableHeader {
            .catalog__productTableHeading {
                color: $color__text--primary;
            }
        }
    }

    .catalog__productTableBody {
        .catalog__productTableItem {
            &:nth-child(even) {
                background: $color__background--secondary;
            }

            .catalog__productTableValue {
                color: $color__text--secondary;
            }
        }
    }
}
/*endregion CATÁLOGO ************************/
