@import "var";

.catalog__newProductButton {
    font-size: $font-size-smaller !important;
}
.c-productCreate__submitButton {
    font-size: $font-size-small !important;
}

/*region Listagem de produtos ***************************/
.catalog__productTable {
    width: 100%;

    .catalog__productTableItem {
        &:nth-child(even) {
            background: $color-background-primary;
        }
    }
}
/*endregion Listagem de produtos ************************/

/*region PRODUCT VIEW */
.c-product__contentContainer {
    .c-product__headingContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: $spacing-medium;

        .c-product__propertyName {}

        .c-product__editButton {}
    }
}

/*endregion PRODUCT VIEW ************************/

/*region PRODUCT EDIT ************************/
.c-productEdit__form, .c-productCreate__form {
    display: flex;
    flex-direction: row;
    column-gap: $spacing-medium;
    align-items: end;

    .c-productEdit__label, .c-productCreate__label {
        margin-bottom: 0;
    }
}
/*endregion PRODUCT EDIT ************************/
