@import "var";

/*region DEFAULT ******************************/
.body__wrapper {
    background: $color__background--primary;
    padding-top: $spacing__large;
    padding-bottom: 20rem;

    .body__container {

    }
}
/*endregion DEFAULT ******************************/
