@import "var";

/*region FOOTER ***************************/
.footer__wrapper {
    background: $color__background--secondary;

    .footer__container {
        .footer__content {
            padding-top: $spacing__medium;
            padding-bottom: $spacing__medium;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .footer__menuContainer {
                list-style: none;
                padding-left: 0;

                .footer__menuTitle {
                    color: $color__text--primary;
                    font-size: $font__size--large;
                }
                .footer__menuItem {
                    .footer__menuLink {}
                }
            }

            .footer__menuLink {
                text-decoration: none;
                font-size: $font__size--small;
                color: $color__text--primary;

                opacity: .7;
                transition: $transition--ease;

                &:hover {
                    opacity: 1;
                }
            }

            .footer__disclaimer {
                color: $color__text--secondary;
                font-size: $font__size--smaller;
                max-width: 300px;
            }
        }
    }

}
/*endregion FOOTER ************************/
