@import "var";

header {
    .header__container {
        display: flex;
        justify-content: space-between;

        .header__navWrapper {
            .header__navList {
                display: flex;
                flex-direction: row;
                column-gap: $spacing__medium;

                list-style: none;
            }
        }
    }
}
