@import "var";

/*region HEADER*/
.header__wrapper {
    padding-top: $spacing__medium;
    padding-bottom: $spacing__medium;
    background: $color__background--secondary;

    .header__container {
        .header__content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header__navWrapper {
                .header__navList {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 0;
                    padding-left: 0;
                    column-gap: $spacing__medium;

                    list-style: none;

                    .header__navItem {
                        .header__navAnchor {
                            text-decoration: none;

                            transition: $transition__ease;
                            opacity: .75;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*endregion HEADER*/
