@import "var";

/*region PRODUCT CREATE *************************************/
.c-productCreate__submitButton {
    font-size: $font__size--small !important;
}
/*endregion PRODUCT CREATE *************************************/

/*region PRODUCT EDIT ************************/
.c-productEdit__heading {
    color: $color__text--primary;
}

.c-productEdit__form, .c-productCreate__form {
    display: flex;
    flex-direction: row;
    column-gap: $spacing__medium;
    align-items: end;

    .c-productEdit__label, .c-productCreate__label {
        color: $color__text--secondary;
        margin-bottom: $spacing__small;
    }

    .c-productEdit__input, .c-productCreate__input {
        background: $color__background--secondary;
        color: $color__text--primary;
        padding: $spacing__small $spacing__medium;
        border: none;
        border-radius: $border__radius--medium;
    }
}
/*endregion PRODUCT EDIT ************************/

/*region PRODUCT VIEW *************************************/
.c-product__contentContainer {
    .c-product__headingContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: $spacing__medium;

        .c-product__propertyName {
            color: $color__text--primary;
        }

        .c-product__editButton {}
    }

    .c-product__propertyName {
        color: $color__text--primary;
    }

    .c-product__propertyValue {
        color: $color__text--secondary;
    }
}
/*endregion PRODUCT VIEW *************************************/
