@import "var";

/*region PRODUCT CREATE *************************************/
.c-productCreate__submitButton {
    font-size: $font__size--small !important;
}
/*endregion PRODUCT CREATE *************************************/

/*region PRODUCT EDIT ************************/
.c-productEdit__form, .c-productCreate__form {
    display: flex;
    flex-direction: row;
    column-gap: $spacing__medium;
    align-items: end;

    .c-productEdit__label, .c-productCreate__label {
        margin-bottom: 0;
    }
}
/*endregion PRODUCT EDIT ************************/

/*region PRODUCT VIEW *************************************/
.c-product__contentContainer {
    .c-product__headingContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: $spacing__medium;

        .c-product__propertyName {}

        .c-product__editButton {}
    }
}
/*endregion PRODUCT VIEW *************************************/
