header .header-container {
  display: flex;
  justify-content: space-between;
}
header .header-container .header-nav-wrapper .header-nav-list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  list-style: none;
}

header .header-container {
  display: flex;
  justify-content: space-between;
}
header .header-container .header-nav-wrapper .header-nav-list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  list-style: none;
}

/*region footer*/
.footer {
  margin-top: 20rem;
  background: #F7F7F7;
}

/*endregion footer ************************/
.teste {
  color: red;
}

header .header-container {
  display: flex;
  justify-content: space-between;
}
header .header-container .header-nav-wrapper .header-nav-list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  list-style: none;
}

.catalog-new-product-btn {
  font-size: 12px !important;
}

.product-create-btn {
  font-size: 14px !important;
}

/*region Listagem de produtos ***************************/
.product-list {
  width: 100%;
}
.product-list .product-row:nth-child(even) {
  background: #F7F7F7;
}

/*endregion Listagem de produtos ************************/
/*region PRODUCT VIEW */
.product-view-content .product-view-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
/*endregion PRODUCT VIEW ************************/
/*region PRODUCT EDIT ************************/
.product-edit-form, .product-create-form {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: end;
}
.product-edit-form .product-input-label, .product-create-form .product-input-label {
  margin-bottom: 0;
}

/*endregion PRODUCT EDIT ************************/
