@charset "UTF-8";
/*region CATÁLOGO ***************************/
.catalog__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 1rem;
}
.catalog__heading .catalog__headingTitle {
  color: #F8F8F8;
  margin-bottom: 0;
}
.catalog__heading .catalog__newProductButton {
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 12px !important;
  margin-top: 0.5rem;
}

.catalog__productTable {
  width: 100%;
}
.catalog__productTable .catalog__productTableHead {
  background: #232323;
}
.catalog__productTable .catalog__productTableHead .catalog__productTableHeader .catalog__productTableHeading {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #F8F8F8;
}
.catalog__productTable .catalog__productTableHead .catalog__productTableHeader .catalog__productTableHeading:first-child {
  padding-left: 0.5rem;
}
.catalog__productTable .catalog__productTableBody .catalog__productTableItem:nth-child(even) {
  background: #232323;
}
.catalog__productTable .catalog__productTableBody .catalog__productTableItem .catalog__productTableValue {
  color: #EFEFEF;
}
.catalog__productTable .catalog__productTableBody .catalog__productTableItem .catalog__productTableValue:first-child {
  padding-left: 0.5rem;
}

/*endregion CATÁLOGO ************************/
/*region DEFAULT ******************************/
.body__wrapper {
  background: #292929;
  padding-bottom: 22rem;
}
/*endregion DEFAULT ******************************/
/*region FOOTER ***************************/
.footer__wrapper {
  background: #232323;
}
.footer__wrapper .footer__container .footer__content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__wrapper .footer__container .footer__content .footer__menuContainer {
  list-style: none;
  padding-left: 0;
}
.footer__wrapper .footer__container .footer__content .footer__menuContainer .footer__menuTitle {
  color: #F8F8F8;
  font-size: 20px;
}
.footer__wrapper .footer__container .footer__content .footer__menuLink {
  text-decoration: none;
  font-size: 14px;
  color: #F8F8F8;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.footer__wrapper .footer__container .footer__content .footer__menuLink:hover {
  opacity: 1;
}
.footer__wrapper .footer__container .footer__content .footer__disclaimer {
  color: #EFEFEF;
  font-size: 12px;
  max-width: 300px;
}

/*endregion FOOTER ************************/
/*region HEADER*/
.header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #232323;
}
.header__wrapper .header__container .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper .header__container .header__content .header__navWrapper .header__navList {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding-left: 0;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  list-style: none;
}
.header__wrapper .header__container .header__content .header__navWrapper .header__navList .header__navItem .header__navAnchor {
  text-decoration: none;
  color: #F8F8F8;
  transition: 0.3s ease-in-out;
  opacity: 0.75;
}
.header__wrapper .header__container .header__content .header__navWrapper .header__navList .header__navItem .header__navAnchor:hover {
  opacity: 1;
}

/*endregion HEADER*/
/*region PRODUCT CREATE *************************************/
.c-productCreate__submitButton {
  font-size: 14px !important;
}

/*endregion PRODUCT CREATE *************************************/
/*region PRODUCT EDIT ************************/
.c-productEdit__form, .c-productCreate__form {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: end;
}
.c-productEdit__form .c-productEdit__label, .c-productEdit__form .c-productCreate__label, .c-productCreate__form .c-productEdit__label, .c-productCreate__form .c-productCreate__label {
  margin-bottom: 0;
}

/*endregion PRODUCT EDIT ************************/
/*region PRODUCT VIEW *************************************/
.c-product__contentContainer .c-product__headingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
/*endregion PRODUCT VIEW *************************************/
