$font-size-largest: 28px;
$font-size-larger: 24px;
$font-size-large: 20px;
$font-size-semilarge: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-smaller: 12px;
$font-size-smallest: 11px;
