$transition__ease: .3s ease-in-out;
$transition__ease--in: .4s ease-in;
$transition__ease--out: .4s ease-out;

$border__radius--small: 4px;
$border__radius--medium: 8px;
$border__radius--large: 12px;

